{% extends 'base.html.twig' %}

{% block title %} {{ title }} - Photos - Movie Reviews{% endblock %}

{% block body %}
  <style>
    .row {
      align-items: center;
    }

    #photo img {
      width: 100%;
    }
  </style>

  {% include 'movie/partials/header.html.twig' %}

    {% if is_granted('ROLE_USER') and isUserProprietary == true %}
    <div class="text-center">
      <a href="{{ path('movie.photos.upload', { slug: slug, id: id }) }}" class="btn btn-primary">
        <span class="fa-solid fa-upload"></span>
        Upload Photos
      </a>
    </div>

    <hr>
  {% endif %}

  <div class="row">
    <div class="col">
      {% if previousFile %}
        <a href="{{ path('movie.photos', { slug: slug, id: id, file: previousFile }) }}" class="btn btn-primary">
          <span class="fa-solid fa-arrow-left"></span>
          <span>Previous</span>
        </a>
      {% endif %}
    </div>
    <div class="col text-center">
      <span>{{ currentPhotoIndex }} / {{ nbPhotos }}</span>
    </div>
    <div class="col text-end">
      {% if nextFile %}
        <a href="{{ path('movie.photos', { slug: slug, id: id }) }}?file={{ nextFile }}" class="btn btn-primary">
          <span>Next</span>
          <span class="fa-solid fa-arrow-right"></span>
        </a>
      {% endif %}
    </div>
  </div>

  <br>

  <div id="photo">
    <img src="{{ file }}" alt="{{ title }} photo {{ currentPhotoIndex }}" class="rounded">
  </div>
{% endblock %}