{% extends 'base.html.twig' %}

{% block title %} {{ title }} - Upload Photos - Movie Reviews{% endblock %}

{% block body %}
  <style>
    .card-md .mb-3:last-of-type {
      text-align: right !important;
    }
  </style>

  {% include 'movie/partials/header.html.twig' %}

  <p class="text-center">Upload Photos</p>

  <hr>

  <div class="card-md">
    {{ form_start(photoForm) }}

    {{ form_row(photoForm.photos) }}

    <div class="row">
      <div class="col">
        <a href="{{ path('movie.photos', { slug: slug, id: id }) }}" class="btn btn-link">
            <span class="fa-regular fa-circle-left"></span>
            Back to photos
        </a>
      </div>
      <div class="col">
        {{ form_row(photoForm.upload) }}
      </div>
    </div>

    {{ form_end(photoForm) }}
  </div>
{% endblock %}