{% extends 'base.html.twig' %}

{% block title %} {{ title }} - Movie Reviews{% endblock %}

{% block stylesheets %}
  <style>
    #movie-details img {
      max-width: 100%;
    }

    #movie-details ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      padding-left: 0;
    }

    #movie-details ul li:nth-child(6) {
      margin-top: 1rem;
    }
  </style>
{% endblock %}

{% block body %}
  {% include 'movie/partials/header.html.twig' %}

  <div id="movie-details" class="row">
    <div class="col-12 col-sm-6 col-md-4">
      <img src="{{ coverImage }}" alt="{{ title }} cover image">
    </div>
    <div class="col-12 col-sm-6 col-md-8 mt-3 mt-sm-0">
      <ul>
        <li>
          <span class="fw-bold">Release date: </span>
          <span>{{ releaseDate }}</span>
        </li>
        <li>
          <span class="fw-bold">Duration: </span>
          <span>{{ duration }} minutes</span>
        </li>
        <li>
          <span class="fw-bold">Genre: </span>
          <span>{{ genre }}</span>
        </li>
        <li>
          <span class="fw-bold">Directed by: </span>
          <span>{{ director }}</span>
        </li>
        <li>
          <span class="fw-bold">With: </span>
          <span>{{ actors[0] }}, {{ actors[1] }}, {{ actors[2] }}</span>
        </li>
        <li>{{ synopsis }}</li>
      </ul>
    </div>
  </div>

  {% if reviews %}
    <h2 class="mt-3">Reviews</h2>

    <div id="movie-reviews">
      {% for review in reviews %}
        <hr>
        {% include 'movie/review.html.twig' %}
      {% endfor %}

      <br>

      <div class="text-end">
        <a href="{{ path('movie.reviews', { slug: slug, id: id }) }}" class="btn btn-link">
          All Reviews
        </a>
      </div>
    </div>
  {% endif %}
{% endblock %}
