{% extends 'base.html.twig' %}

{% block title %} {{ title }} - Movie Reviews{% endblock %}

{% block stylesheets %}
  <style>
    #movie-details img {
      max-width: 100%;
    }

    #movie-details ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      padding-left: 0;
    }

    #movie-details ul li:nth-child(6) {
      margin-top: 1rem;
    }

    #movie-videos video {
      width: 100%;
    }

    #movie-photos #photos div img {
      width: 100%
    }
  </style>
{% endblock %}

{% block body %}
  {% include 'movie/partials/header.html.twig' %}

  <div id="movie-details" class="row">
    <div class="col-12 col-sm-6 col-md-4">
      <img src="{{ coverImage }}" alt="{{ title }} cover image" class="rounded">
    </div>
    <div class="col-12 col-sm-6 col-md-8 mt-3 mt-sm-0">
      <ul>
        <li>
          <span class="fw-bold">Release date: </span>
          <span>{{ releaseDate }}</span>
        </li>
        <li>
          <span class="fw-bold">Duration: </span>
          <span>{{ duration }} minutes</span>
        </li>
        <li>
          <span class="fw-bold">Genre: </span>
          <span>{{ genre }}</span>
        </li>
        <li>
          <span class="fw-bold">Directed by: </span>
          <span>{{ director }}</span>
        </li>
        <li>
          <span class="fw-bold">With: </span>
          <span>{{ actors[0] }}, {{ actors[1] }}, {{ actors[2] }}</span>
        </li>
        <li>{{ synopsis }}</li>
      </ul>
    </div>
  </div>

  {% if video %}
    <h2 class="mt-3">Videos</h2>

    <div id="movie-videos">
      <video src="{{ video.url }}" class="rounded" poster="{{ video.thumbnail }}" controls></video>

      <br>

      <div class="text-end">
        <a href="{{ path('movie.videos', { slug: slug, id: id }) }}" class="btn btn-link">
          All Videos
        </a>
      </div>
    </div>
  {% endif %}

  {% if photos %}
    <h2 class="mt-3">Photos</h2>

    <div id="movie-photos">
      <div id="photos" class="row">
        {% set classes = [
            'col-12 col-sm-4 col-md-3',
            'col-12 col-sm-4 col-md-3 mt-3 mt-sm-0',
            'col-12 col-sm-4 col-md-3 mt-3 mt-sm-0',
            'col-12 col-sm-12 col-md-3 mt-3 mt-md-0'
          ]
        %}

        {% for photo in photos %}
          <div class="{{ classes[loop.index0] }}">
            <a href="{{ path('movie.photos', { slug: slug, id:id }) }}?file={{ photo.url }}">
              <img src="{{ photo.url }}" alt="{{ title }} photo {{ loop.index }}" class="rounded">
            </a>
          </div>
        {% endfor %}
      </div>

      <br>

      <div class="text-end">
        <a href="{{ path('movie.photos', { slug: slug, id: id }) }}" class="btn btn-link">
          All Photos
        </a>
      </div>
    </div>
  {% endif %}

  {% if reviews %}
    <h2 class="mt-3">Reviews</h2>

    <div id="movie-reviews">
      {% for review in reviews %}
        {% include 'movie/review.html.twig' %}

        <br>
      {% endfor %}

      <div class="text-end">
        <a href="{{ path('movie.reviews', { slug: slug, id: id }) }}" class="btn btn-link">
          All Reviews
        </a>
      </div>
    </div>
  {% endif %}
{% endblock %}
