{% extends 'base.html.twig' %}

{% block title %} {{ title }} - Videos - Movie Reviews{% endblock %}

{% block body %}
  <style>
    .row {
      align-items: center;
    }

    #video video {
      width: 100%;
    }
  </style>

  {% include 'movie/partials/header.html.twig' %}

  {% if is_granted('ROLE_USER') and isUserProprietary == true %}
    <div class="text-center">
      <a href="{{ path('movie.videos.upload', { slug: slug, id: id }) }}" class="btn btn-primary">
        <span class="fa-solid fa-upload"></span>
        Upload Video
      </a>
    </div>

    <hr>
  {% endif %}

  {% if nbVideos > 0 %}
    <div class="row">
      <div class="col">
        {% if previousFile %}
          <a href="{{ path('movie.videos', { slug: slug, id: id, file: previousFile }) }}" class="btn btn-primary">
            <span class="fa-solid fa-arrow-left"></span>
            <span>Previous</span>
          </a>
        {% endif %}
      </div>
      <div class="col text-center">
        <span>{{ currentVideoIndex }} / {{ nbVideos }}</span>
      </div>
      <div class="col text-end">
        {% if nextFile %}
          <a href="{{ path('movie.videos', { slug: slug, id: id }) }}?file={{ nextFile }}" class="btn btn-primary">
            <span>Next</span>
            <span class="fa-solid fa-arrow-right"></span>
          </a>
        {% endif %}
      </div>
    </div>

    <br>

    <div id="video">
      <video src="{{ file }}" class="rounded" controls autoplay muted></video>
      <h2>{{ videoTitle }}</h2>
    </div>

    {% if isUserProprietary and isPageVideo == false %}
      <form action="{{ path('movie.videos.set-page-video', { slug: slug, id: id, videoId: videoId }) }}" method="POST" class="text-end">
        <input type="hidden" name="_method" value="PUT">

        <button type="submit" class="btn btn-link">
          Set as page video
        </button>
      </form>
    {% endif %}
  {% else %}
    <p class="text-center">There are no videos for this movie.</p>
  {% endif %}
{% endblock %}