<style>
  h1 {
    text-align: center;
  }

  #movie-nav {
    text-align: center;
  }

  #movie-nav a {
    color: inherit;
    text-decoration: none;
  }

  #movie-nav a:hover {
    font-weight: bold;
  }
</style>

<h1>{{ title }}</h1>
<div id="movie-nav">
  {% if section == 'page' %}
    <span class="fw-bold">Page</span>
  {% else %}
    <a href="{{ path('movie.page', { slug: slug, id: id }) }}">Page</a>
  {% endif %}

  <span>&nbsp;/&nbsp;</span>

  {% if section == 'reviews' %}
    <span class="fw-bold">Reviews</span>
  {% else %}
    <a href="{{ path('movie.reviews', { slug: slug, id: id }) }}">Reviews</a>
  {% endif %}

  <span>&nbsp;/&nbsp;</span>

  {% if section == 'photos' %}
    <span class="fw-bold">Photos</span>
  {% else %}
    <a href="{{ path('movie.photos', { slug: slug, id: id }) }}">Photos</a>
  {% endif %}

  <span>&nbsp;/&nbsp;</span>

  {% if section == 'videos' %}
    <span class="fw-bold">Videos</span>
  {% else %}
    <a href="{{ path('movie.videos', { slug: slug, id: id }) }}">Videos</a>
  {% endif %}
</div>

<hr>
